<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159"/>

  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.01"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="mid360" params="visualize:=true name:=mid360 parent_link:=base_link gazebo:=false xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}_base">
      <xacro:null_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://turtlebot4_description/meshes/livox_mid360.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://turtlebot4_description/meshes/livox_mid360.dae"/>
        </geometry>
      </collision>
    </link>

    <link name="${name}">
      <xacro:null_inertial/>
    </link>

    <joint name="${name}_to_${name}_base_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}_base"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <joint name="${name}_base_to_${name}_child_joint" type="fixed">
      <parent link="${name}_base"/>
      <child link="${name}"/>
      <origin xyz="0 1.0 0.2" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>
