<?xml version="1.0"?>
<robot name="tb4" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find sfg_peripherals_description)/xacro/htc_vive_tracker_30.xacro" />
    <xacro:include filename="$(find sfg_peripherals_description)/xacro/livox_mid360.xacro" />
    <xacro:include filename="$(find sfg_peripherals_description)/xacro/luxonis_oakd_pro.xacro" />

    <link name="base">
        <visual>
            <geometry>
                <mesh filename="package://sfg_tb4_description/mesh/base.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <!-- camera back mount -->
    <joint name="camera_back_mount_joint" type="fixed">
        <parent link="base" />
        <child link="camera_back_mount" />
        <origin rpy="0 0 0" xyz="-0.10001 -0.00001 0.14596" />
    </joint>

    <link name="camera_back_mount">
        <visual>
            <geometry>
                <mesh filename="package://sfg_tb4_description/mesh/camera_back_mount.dae"
                    scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <!-- camera back -->
    <xacro:luxonis_oakd_pro name="camera_back" parent="camera_back_mount">
        <origin rpy="${0.5 * pi} ${0.5 * pi} ${0.5 * pi}" xyz="0.01774 0 0.092" />
    </xacro:luxonis_oakd_pro>

    <!-- tracker left mount -->
    <joint name="tracker_left_mount_joint" type="fixed">
        <parent link="base" />
        <child link="tracker_left_mount" />
        <origin rpy="0 0 0" xyz="-0.03401 0.08 0.14596" />
    </joint>

    <link name="tracker_left_mount">
        <visual>
            <geometry>
                <mesh filename="package://sfg_tb4_description/mesh/tracker_left_mount.dae"
                    scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <!-- tracker left -->
    <xacro:htc_vive_tracker_30 name="tracker_left" parent="tracker_left_mount">
        <origin rpy="0 0 ${-0.5 * pi}" xyz="0 0 0.00825" />
    </xacro:htc_vive_tracker_30>

    <!-- lidar right mount -->
    <joint name="lidar_right_mount_joint" type="fixed">
        <parent link="base" />
        <child link="lidar_right_mount" />
        <origin rpy="0 0 0" xyz="-0.03395 -0.08 0.14596" />
    </joint>

    <link name="lidar_right_mount">
        <visual>
            <geometry>
                <mesh filename="package://sfg_tb4_description/mesh/lidar_right_mount.dae"
                    scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <!-- lidar right -->
    <xacro:livox_mid360 name="lidar_right" parent="lidar_right_mount">
        <origin rpy="0 0 ${0.5 * pi}" xyz="0.00006 0 0.0065" />
    </xacro:livox_mid360>
</robot>