<?xml version="1.0"?>
<robot name="tb4" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sfg_peripherals_description)/xacro/base_marker_tree.xacro" />
  <xacro:include filename="$(find sfg_peripherals_description)/xacro/livox_mid360.xacro" />
  <xacro:include filename="$(find sfg_peripherals_description)/xacro/luxonis_oakd_pro.xacro" />

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="${0.5 * pi} 0 0" />
      <geometry>
        <mesh filename="package://sfg_tb4_description/mesh/base_link.glb" />
      </geometry>
    </visual>
  </link>

  <!-- left wheel -->
  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="left_wheel" />
    <origin rpy="${pi/2} 0 0" xyz="-0.0005 0.11755 0.03605" />
    <axis xyz="0 1 0" />
  </joint>

  <link name="left_wheel">
    <collision>
      <geometry>
        <cylinder radius="0.036" length="0.015" />
      </geometry>
    </collision>
  </link>

  <!-- right wheel -->
  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="right_wheel" />
    <origin rpy="${pi/2} 0 0" xyz="-0.0005 -0.11755 0.03605" />
    <axis xyz="0 1 0" />
  </joint>

  <link name="right_wheel">
    <collision>
      <geometry>
        <cylinder radius="0.036" length="0.015" />
      </geometry>
    </collision>
  </link>

  <!-- caster wheel -->
  <joint name="caster_wheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="caster_wheel" />
    <origin rpy="0 0 0" xyz="0.126 0 0.01389" />
  </joint>

  <link name="caster_wheel">
    <collision>
      <geometry>
        <sphere radius="0.013" />
      </geometry>
    </collision>
  </link>

  <!-- camera back mount -->
  <joint name="camera_back_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_back_mount" />
    <origin rpy="0 0 0" xyz="-0.10001 -0.00001 0.14596" />
  </joint>

  <link name="camera_back_mount">
    <visual>
      <origin xyz="0 0 0" rpy="${0.5 * pi} 0 0" />
      <geometry>
        <mesh filename="package://sfg_tb4_description/mesh/camera_back_mount.glb" />
      </geometry>
    </visual>
  </link>

  <!-- camera back -->
  <xacro:luxonis_oakd_pro name="camera_back" parent="camera_back_mount">
    <origin rpy="${0.5 * pi} ${0.5 * pi} ${0.5 * pi}" xyz="0.01774 0 0.092" />
  </xacro:luxonis_oakd_pro>

  <!--tracker
  left mount -->
  <joint name="tracker_left_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="tracker_left_mount" />
    <origin rpy="0 0 0" xyz=" -0.03401 0.08 0.14596" />
  </joint>

  <link name="tracker_left_mount">
    <visual>
      <origin xyz="0 0 0" rpy="${0.5 * pi} 0 0" />
      <geometry>
        <mesh filename="package://sfg_tb4_description/mesh/tracker_left_mount.glb" />
      </geometry>
    </visual>
  </link>

  <!-- tracker left -->
  <xacro:base_marker_tree name="tracker_left" parent="tracker_left_mount">
    <origin xyz="0 0 0.005" rpy="0 0 ${-0.5 * pi}" />
  </xacro:base_marker_tree>

  <!-- lidar right mount -->
  <joint name="lidar_right_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_right_mount" />
    <origin rpy="0 0 0" xyz="-0.03401 -0.08 0.14596" />
  </joint>

  <link name="lidar_right_mount">
    <visual>
      <origin xyz="0 0 0" rpy="${0.5 * pi} 0 0" />
      <geometry>
        <mesh filename="package://sfg_tb4_description/mesh/lidar_right_mount.glb" />
      </geometry>
    </visual>
  </link>

  <!-- lidar right -->
  <xacro:livox_mid360 name="lidar_right" parent="lidar_right_mount">
    <origin rpy="0 0 ${0.5 * pi}" xyz="0 0 0.0065" />
  </xacro:livox_mid360>
</robot>